body {
    background-color: black;
    color: white;
    text-align: center;
}

.topnav {
  font-variant: small-caps;
  font-size: 20px;
  color: #fff;
  background-color: #444;
  position: fixed;
  width: 100%;
  top: 0;
  overflow: auto;
  right: 0;
  left: 0;
  z-index: 99;
}

.topnav a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  text-decoration: none;
  font-size: 17px;
  opacity: 1;
  width: 33.33%;
}
.topnav a:hover {
  background-color: #3e3c3c;
  color: #fff;
  opacity: 1;
  width: 33.33%;
}

.title {
    text-align: center;
    font-size: 60px;
    font-variant: small-caps;
}
.menu {
    position: absolute;
    left: 0;
    height: 100%;
    width: 15%;
    background-color: #444;
    top: 0px;
    font-size: 20px;
    color: white;
    font-variant: small-caps;
}
.inside-margin {
    position: relative;

    left: 20%;
    width: 50%;
}
.menu-button {
    color: #fff;
    background-color: #000000;
    border: none;
    text-align: center;
    margin: 4px 2px;
    padding: 5px 5px;
    opacity: .6;
    transition: .3s;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
}
.menu-button:hover {
    opacity: 1;
}
a {
    color: white;
}
p{
    text-align: center;
}
