body {
    font-family: comfortaa;
}
.menu-bar {
    height: 0%;
    width: 100%;
    background-color: #4dc6ff;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
}
td {
    position: relative;
    bottom: 5px;
    width: 10%;
    height: 30px;
    box-shadow: #0000005e 0px 0px 2px 2px;
    border-radius: 5px;
    padding-top: 1%;
    padding-bottom: -.5%;
    margin: 10px;
    background-color: #4dc6ff;
}
table {
    text-align: center;
    text-align: 
}