/*Tiko Bauer-->
<!--Task 7-->
/* <!--6 Feb 2018-->*/
html {
    scroll-behavior: smooth;
}
body {
    font-family: comfortaa;
    background-image: url("../images/terraira-backdrop.png");
    font-size: 20px;
}
.menu-bar {
    height: 0%;
    width: 99%;
    background-color: #4dc6ff;
    color: #fff;
    position: absolute;
    left: auto;
    top: 0%;
    display: inline-block;
}
td.menu-button {
    position: relative;
    bottom: 5px;
    width: 5%;
    height: 200%;
    box-shadow: #0000005e 0px 0px 2px 2px;
    border-radius: 5px;
    padding-top: 2%;
    padding-bottom: 0%;
    margin: 10px;
    background-color: #4dc6ff;
    transition: .5s;
    opacity: .7;
    animation-name: slide-button;
    animation-duration: .5s;
    cursor: pointer;
    font-size: 100%
}
td.menu-button:hover {
    opacity: 1;
}
table {
    text-align: center; 
}
.main-box {
    position: absolute;
    left: 30%;
    top: 30%;
    padding: 1%;
    height: 1-%;
    width: 25%;
    background-color: rgb(85, 85, 85);
    box-shadow: #0000005e 0px 0px 2px 2px;
    border-radius: 5px;
    color: #fff;
}
a.menu-button-link {
    text-decoration: none;
    color: #fff;
}
a {
    color: #fff;
}
@keyframes slide-button {
    0% {bottom: 40px;}
    100% {bottom: 5px;}
}
table.links {

}
div.links {
    position: absolute;
    top: 110%;
    left: 35%;
    text-align: center;
    color: white;
}
img.links {
    width: 100px;
    height: auto;
}
.centered {
    text-align: center;
}