body {
  font-family: Comfortaa;
  background-image: url(background.jpg)
}
td {
  padding-left: 5px;
  padding-right: 5px;
}
img {
  height: 75%;
  width: 75.5%;
  margin-left: -10px;
  position: fixed;
}
.main-box {
  text-align: left;
  position: relative;
  top: -16px;
  background-color: white;
  box-shadow: 0px 0px 5px 3px #0000007c;
  border-radius: 5px;
  width: 75%;
  margin-left: 12.5%;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.top-main-box {
  position: center;
  position: fixed;
  font-size: 27px;
  text-align: center;
  height: auto;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-top: 20px;
  background-color: rgb(71, 71, 71);
  border-radius: 5px;

}
.button {
  box-shadow: 0px 0px 3px 3px #00000051;
  border-radius: 100px;
  cursor: pointer;
  transition: .25s;
}
.button:hover {
  background-color: #ffffff22;
  transition: .25s;
}
.visual-break {
  height: 200px;
  margin-left: -10px;
  margin-right: -10px;
  background-color: #555555;
  border-radius: 5px;
  opacity: .75;
}
.inside-visual-break {
  color: #ffffff;
}
