body {
    font-family: comfortaa;
    background-color: dimgray
}
.main-text-box {
    position: relative;
    top: 10%;
    left: 20%;
    right: auto;
    background-color: #138599;
    width: 50%;
    color: #fff;
    padding: 10px;
    padding-left: 20px;
    padding-right: auto;
}
.side-menu {
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: #fff;
    height: 100%;
    width: 13%;
}
.everything {
    position: absolute;
    left: 15%;
}