/*
Trey DeaBueno
Task 10
March 6, 2019
*/
* {box-sizing: border-box;}

html{
    scroll-behavior: smooth;
}

br{
    padding: 255555px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  overflow: hidden;
  background-color: #333;
  padding: 15px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

#navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 12px;
  display: block;
  text-decoration: none;
  font-size: 17px;
  line-height: 25px;
  border-radius: 4px;
}

#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}

#navbar #logoimg {
    transition: 0.4s;
}

#navbar #logo:hover {
    background-color: transparent;
}

#navbar a:hover {
  background-color: #555;
}

#navbar a#active {
  background-color: #4CAF50;
  color: white;
  transition: 0.4s;
}

#navbar-right {
  float: right;
}

#navbar .icon {
  display: none;
}

@media screen and (min-width: 581px) {
    #navbar a#active {
        height: 55px;
    };
}

@media screen and (max-width: 580px) {
  #navbar {
    padding: 6px 2px !important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: center;
    font-size: 17px;
    padding: 6px;
  }
  #navbar-right {
    float: none;
  }
  #navbar .icon{
      display: block;
  }
}
