body {
    font-family: comfortaa;
    background-color: #eeeeee;
}
.centered {
    text-align: center;
}
.margin-left {
    width: 15%;
    position: absolute;
    left: 0;
    top: 0;
}
.margin-right {
    width: 15%;
    position: absolute;
    right: 0;
    top: 0;
}
.margin {
    background-color: #aaa;
    height: 100%;
}
.inside-margin {
    position: relative;
    left: 20%;
    width: 40%;
}
.black {
    color: black;
}
.caption-1 {
    position: relative;
    left: 20%;
    background-image: url("../images/roblox-back.jfif");
    width: 310px;
    height: 163px;
}
.caption {
    position: absolute;
    bottom: 0px;
    left: 5px;
    color: white;
    box-shadow: 0px 0px 5px 5px rgba(34, 34, 34, 0.9);
    background-color: rgba(34, 34, 34, 0.9);
}
.menu-button {
    color: #fff;
    background-color: #000000;
    border: none;
    text-align: center;
    margin: 4px 2px;
    padding: 5px 5px;
    opacity: .6;
    transition: .3s;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
}
.menu-button:hover {
    opacity: 1;
}
a {
    color: #fff;
}