/*
Trey DeaBueno
Task 7
February 8, 2019
*/
body{
    background: lightpink;
    color: yellow;
    font-size: 25px;
    text-align: center;
}
body.scrolling{
    background-image: url("../images/programming.jpg");
    background-size: cover;
    background-attachment: fixed;
}
body.notscrolling{
    background-image: url("../images/code.jpg");
    background-size: 100% 100%;
    color: orange;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
a:link{
    color: #0db10d;
}
a:visited{
    color: #0db10d;
}
a.list:visited{
    color: red;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px white;
}
a.hidden{
    color:inherit;
    cursor: text;
    text-decoration: none;
}
a.hidden:hover{
    color: inherit;
    text-decoration: none;
}
a:hover{
    color: gray;
}
a:active{
    color: green;
}
h1.header{
    text-shadow: black 1px -1px;
    text-decoration: underline;
    text-align: center;
    border-style: none;

}
td.head{
    background-color: transparent;
    width: 0;
    border-style: none;
}
td.head:hover{
    background-color: lime;
    cursor: none;
}

li{
    text-align: left;
    list-style: square;
}
table{
    border-color: red;
    border-style: double;
}
td{
    border-color: red;
    border-style: double;
    padding: 15px;
}
th{
    border-color: red;
    border-style: double;
    padding: 15px;
}
table.head{
    border-style: none;

}
.ghost:visited{
    color: gray;

}
