<!--Ethan Wong-->
<!--Task 13-->
<!--May 1, 2019-->
.nodent 	{
	font-size:20px;
	font-family:arial;
	word-spacing:-1px;
	letter-spacing:0px;
}
hr {
	border-color:#d8c006;
	width:25%;
}
th{
	background-color:lightgray;
	font-size:44px;
}
td{
	background-color:lightgray;
}
a 	{
	text-decoration:none;
	color:#0a3a87;
}
i {
	font-size:30px;
}
pre {
	font-size:18px;
	color:#8e8e8e;
}
h1	{
	font-size:64px;
	font-weight:bolder;
	font-family:Brush Script MT, Brush Script Std, cursive;
	color:#8e8e8e;
}
h2 {
	font-size:34px;
	font-weight:bold;
}
.main p{
	position:absolute;
	border-radius:25px;
	background:#b8bbc1;
	padding: 10px;
	height:1000px;
	width:900px;
	left:200px;
	top:100px;
	font-size:19px;
	font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
.main .speech{
	position:absolute;
	border-radius:25px;
	background:#b8bbc1;
	padding: 10px;
	height:1000px;
	width:950px;
	left:175px;
	top:100px;
	font-size:21px;
	font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
.main2{
	width:5375px;
}
.menu {
	background-color:rgba(12, 1, 35, 0.9);
	position:fixed;
	left:94.9%;
	top:-4.5%;
	height:110%;
	padding-left:20px;
	padding-right:400px;
	padding-top:20px;
	padding-bottom:850px;
	transition:0.5s;
	z-index:4;
}
.menu .button{
	position:relative;
	display:block;
	color:#d8c006;
	font-size:100px;
	bottom:5px;
	right:15px;
	transition:1s;
}
.menu .link{
	position:relative;
	left:80px;
	bottom:20px;
	font-family:times;
	font-size:25px;
	color:#d8c006;
	text-decoration:none;
	white-space:nowrap;
	transition:1s;
}
.menu .secret{
	position:relative;
	font-size:10px;
	cursor:default;
	bottom:320px;
	left:130px;
	color:#d8c006;
}
.menu .secret:visited{
	color:#d8c006;
}
.menu .link:hover{
	color:#e07f23;
}
.menu a:hover{
	color:#e07f23;
}
.menu hr{
	position:relative;
	left:80px;
	bottom:20px;
	font-family:times;
	font-size:25px;
	border-color:#d8c006;
}

html {
	overflow-y: hidden; 
}
.htmlAward {
	overflow-x:hidden;
}