body {
  font-family: Comfortaa;
  background-image: url(background.jpg);
  background-attachment: fixed;
}
td {
  padding-left: 5px;
  padding-right: 5px;
}
img {
  height: 75%;
  width: 75.5%;
  margin-left: -10px;
}
p.textbox {
  background-color: #474747;
  border-radius: 5px;
  padding: 5px;
  color: white;
}
.everthing-else {
  background: #474747;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  padding: 5px;
}
.picture-box {
  padding: 10px;
  background-color: #474747;
  border-radius: 5px;
  height: 45%;
  width: 45%;
}
.contact-link-button {
  background-color: #474747;
  margin-top: 80px;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  color: white;
  width: 500px;
  border-radius: 5px;
  height: auto;
}
.link-box-text {
  padding-top: 50px;
  color: white;
  font-size: 30px;
  text-align: center;
}
.link-table {
  position: relative;
  top: 50px;

}
.picture-link {
  height: 100px;
  width: 100px;
  margin: 20px;
  box-shadow: 0px 0px 3px 3px #00000051;
  border-radius: 100px;
  cursor: pointer;
  transition: .25s;
}
.link-box::before {
  content: '';
  background: url(background.jpg) 0 0 / cover fixed no-repeat;
  filter: blur(6px);
  -webkit-filter: blur(6px);
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  z-index: -1;
}
.link-box {
  filter: blur(0px);
  background-color: #0000007c;
  width: 75%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 12.5%;
  border-radius: 5px;
  height: 700px;
}
.main-box {
  text-align: left;
  position: relative;
  top: -16px;
  /*background-color: white;*/
  box-shadow: 0px 0px 5px 3px #0000007c;
  border-radius: 5px;
  width: 75%;
  margin-left: 12.5%;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.top-main-box {
  position: center;
  position: fixed;
  z-index: 40;
  font-size: 27px;
  color: white;
  text-align: center;
  height: auto;
  width: auto;
  margin-left: 60px;
  padding-left: 5px;
  padding-bottom: 15px;
  padding-top: 20px;
  background-color: #474747;
  border-radius: 5px;

}
.button {
  box-shadow: 0px 0px 3px 3px #00000051;
  border-radius: 100px;
  cursor: pointer;
  transition: .25s;
}
.button:hover {
  background-color: #ffffff22;
  transition: .25s;
}

#next-to-cat {

  top: 50px;
  left: 600px;
}
