body {
	/* Old bsroswsers */
    background: #141E30;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(-45deg, #35577d, #141E30);
    margin: 0;
    padding: 0;
}
h1, h2 {
    color: #ffffff;
    font-family: 'Oxygen';
    font-weight: 100;
    width: 50%;

}
.button {
	background-color: #1d3148;
	text-align: center;
	padding: 5px;
	border-left: solid;
	border-width: 5px;
    border-color: #4979b1;
    width: 20%;
}
p {
    color: AliceBlue;
    font-family: 'Oxygen';
    font-size: 18px;
    font-weight: 100;
}
a {
	color: #9b9b99;
}
h2 a {
    color: #ffffff;
}
.hidden {
    opacity: 0;
}
