body {
    font-family: comfortaa;
}
.menu-bar {
    background-color: grey;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 5%;
    width: 100%;
    box-shadow: 0px 0px 3px 1px #0000007c;
    position: fixed;
    z-index: 40;
}
table {
    padding-left: 33.3%;
}
td {
    position: relative;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.img1 {    
    position: absolute;
    left: 0px;
}
.server-mod {
    position: relative;
    left: -8px;
}
.server-van {
    position: absolute;
    left: -8px;
    top: 700px;
}
.description-bar {
    position: relative;
    padding-left: 30px;
    top: 700px;
    width: 98.5%;
    left: -8px;
    background-color: white;
    padding-top: 25px;
    padding-bottom: 0px;
    height: 50px;
    z-index: 1;
    box-shadow: 0px 0px 3px 1px #0000007c;
}