body {
    font-family: comfortaa;
    background-color: #444;
}
.menu-bar {
    background-color: grey;
    position: absolute;
    top: 0px;
    padding-top: 5px;
    padding-bottom: -5px;
    right: 0px;
    height: 5%;
    width: 100%;
    box-shadow: 0px 0px 3px 1px #0000007c;
    position: fixed;
    z-index: 40;
}
table {
    padding-left: 33.3%;
}
td {
    position: relative;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
img {    
    width: 100%;
    z-index: 0;
}
.description-bar {
    position: relative;
    margin-top: -20px;
    margin-bottom: -20px;
    padding-left: 30px;
    background-color: white;
    padding-top: 25px;
    padding-bottom: 0px;
    height: 50px;
    z-index: 5;
    box-shadow: 0px 0px 3px 3px #0000007c;
    
}
/*Contact page css*/
.contact-back {
    background-image: url("contact-back.png");
}
.contact-box {
    background-color: #0000007c;
    color: white;
    position: absolute;
    left: 10%;
    top: 25%;
    width: 80%;
    padding-bottom: 60px;
}
.contact-box-h1 {
    text-align: center;
    font-size: 60px;
}
.contact-box-p {
    font-size: 20px;
    text-align: center;
}
.centered {
    text-align: center;
}
/*Downloads page css*/
.downloads-back {
    background-image: url("downloads-back.png");
}
.downloads-box {
    background-color: #0000007c;
    color: white;
    position: absolute;
    left: 10%;
    top: 25%;
    width: 80%;
    padding-bottom: 60px;
}
.downloads-box-h1 {
    text-align: center;
    font-size: 60px;
}
.downloads-box-p {
    font-size: 20px;
}
.downloads-button {
    background-color: #ffffffa1;
    border-left: solid;
    border-width: 5px;
    border-color: white;
    font-size: 20px;
    padding: 5px;
    margin-top: 20px;
    color: black;
}
.downloads-button-header {
    background-color: #ffffffa1;
    font-size: 30px;
    padding: 5px;
    height: 100px;
    color: black;
}
table.downloads {
    padding: 10%;
}
.downloads-button-link {
    text-decoration: none;
    color: black;
}